.carlist{
  position: absolute;
  background-color: white;
  z-index: 2;
  right:40px;
  padding:.8em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  border: 1px solid rgb(194, 193, 193);
}

.emptyCart{
  background-color: var(--main-color);
  color: aliceblue;
  border: none;
  cursor: pointer;
  padding:.4em;
}

.emptyCart:hover{
  background-color: rgba(119, 44, 232,.9);
}

.PriceContainer{
  display: flex;
  justify-content: space-around;
}

.PayContainer_Btn{
  text-align: center;
  margin-top: 10px;
}
.PayContainer button{
  background-color: var(--main-color);
  color: aliceblue;
  border: none;
  cursor: pointer;
  padding:.4em;
}

.PayContainer button:hover{
  background-color: rgba(119, 44, 232,.9);
}