.detailContent {
  margin: 1em;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  padding-top: 0;

}

.containerAll{
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
 
  
}

.infoMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoMain h3{
  font-size: 3.5em;
}

.infoPrice{
  font-size: 3em;
}
.imagesContainer {
  display: flex;
  width: 300px;
  gap: 1em;
  margin-right: 5px;
  margin-top: 50px;
}

.imageContainer {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
}

.mainImage{
  width: 500px;
  height: 400px;
  justify-content: center;
  margin: auto;
}

.mainImage img{
  width: 100%;
  height: 100%;
}

.infoProductContainer{
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 3.4em;
  width: 500px;
  flex:1;
}

.infoProductName{
  padding: 0;
  margin-right: 15px;
  margin-bottom: 8px;
  font-size: 22px;
  color: rgba(0,0,0,.9);
}

.infoProductPrice{
  font-size: 29px;
  font-weight: 300;
}

.descriptionContainer{
  margin: 2em 1em;
  width: 80%;
}

.detailContainer{
  padding-top: 1.5em;
}

.descriptionContainer h3{
  margin-bottom: 1.5em;
}
.detailContainer a:first-child{
  margin-left: 5em;
  
}

.detailContainer a:not(:first-child){ 
  margin-left: .5em;
}

.Detail_btn{
  background-color: var(--main-color);
  border-radius: 31px;
  width: 100%;
  height: 48px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  border:none;
  cursor: pointer;
  margin-top: 2em;
}

.Detail_btn:hover{
  background-color: rgb(78, 16, 160);
}

@media screen and (max-width:768px) {
  .imagesContainer{
    flex-direction: row;
  }
  .mainImage{
    width: 50%;
  }
  
}