.Offers_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3.9% 5.2%;
}

.Offers_banner{
    width: 45.75vw;
    height: 28vh;
    max-height: 215px;
    max-width: 625px;
    cursor: pointer;
}

.Offers_banner:first-of-type{
    margin-bottom: 20px;
}


.Offers_banner img{
    width: 100%;
    height: 100%;
}

.Offers_product_container{
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: 27vh;
    max-height: 207px;
}


.Offers_product{
    width: 18.74vw;
    height: 26.30vh;
    max-width: 256px;
    max-height: 201px;
    background-color: var(--background-offers);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.Offers_product:first-of-type{
    margin-right: 41px;
}

.Offers_product img{
    height: 90%;
    align-self: center;
}

.Offers_product_img_left:first-of-type{
    margin-left: 60px;
}