.header {
  display: flex;
  flex-direction: column;
  height: 132px;
  padding-top: 11px;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
}

.brandSection {
  display: flex;
  justify-content: space-between;
  margin: 0 71px 0 71.9px;
  height: 66px;
}

.loginSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.btn {
  background-color: #F4F6FA;
  color: #3B3B3B;
  border: none;
  border-radius: 19px;
  height: 37px;
  width: 237px;
  font-size: 15px;
  line-height: 23px;
  padding: 8px 25px;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 23px;
  position: relative;
}

.icon {
  cursor: pointer;
}

.searchSection {
  background-color: var(--main-color);
  height: 66px;
}

@media (max-width: 768px) {
  .btn {
    display: none;
  }

  .nav{
    position: absolute;
    z-index: 3;
    background-color: white;
    width: 90vw;
    padding:5em;
    height: calc(100vh + 20px);
    top: -20px;
  }

  .nav button{
    margin-top: 2em;
    background-color: var(--main-color);
    width: 50px;
    color:white;
    height: 50px;
    border: none;
  }
}