@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-color: #772CE8;
  --light-blue: #C7F3FD;
<<<<<<< HEAD
  --footer-link: #3B3B3B;
=======
  --information: rgba(50, 209, 247,0.63);  
  
>>>>>>> feature/information
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}